In [6]:
import pandas as pd 
df= pd.read_csv('Data_sets/nba (2).csv')
df.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Alex Abrines\abrinal01,SG,24,OKC,75,1134,9.0,0.567,0.759,...,NaN,1.3,1.0,2.2,0.094,NaN,-0.5,-1.7,-2.2,-0.1
1,2,Quincy Acy\acyqu01,PF,27,BRK,70,1359,8.2,0.525,0.800,...,NaN,-0.1,1.1,1.0,0.036,NaN,-2.0,-0.2,-2.2,-0.1
2,3,Steven Adams\adamsst01,C,24,OKC,76,2487,20.6,0.630,0.003,...,NaN,6.7,3.0,9.7,0.187,NaN,2.2,1.1,3.3,3.3
3,4,Bam Adebayo\adebaba01,C,20,MIA,69,1368,15.7,0.570,0.021,...,NaN,2.3,1.9,4.2,0.148,NaN,-1.6,1.8,0.2,0.8
4,5,Arron Afflalo\afflaar01,SG,32,ORL,53,682,5.8,0.516,0.432,...,NaN,-0.1,0.2,0.1,0.009,NaN,-4.1,-1.8,-5.8,-0.7

In [16]:
import pandas as pd 
df= pd.read_csv('Data_sets/nba-players.csv')
df.head()
df.drop("College Link",axis=1)

,Unnamed: 0,Player,Start Year,End Year,Position,Height,Weight,Birthday,Colleges
0,0,Player,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke
1,1,Alaa Abdelnaby,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State
2,2,Zaid Abdul-Aziz,1970,1989,C,7-2,225.0,"April 16, 1947",UCLA
3,3,Kareem Abdul-Jabbar*,1991,2001,G,6-1,162.0,"March 9, 1969",LSU
4,4,Mahmoud Abdul-Rauf,1998,2003,F,6-6,223.0,"November 3, 1974","Michigan, San Jose State"
...,...,...,...,...,...,...,...,...,...
5132,5132,Stephen Zimmerman,2017,2018,G-F,6-8,215.0,"February 18, 1994",NaN
5133,5133,Paul Zipser,2018,2020,F-C,6-10,266.0,"January 4, 1997",NaN
5134,5134,Ante Žižić,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
5135,5135,Jim Zoet,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne
5136,5136,Bill Zopf,2017,2024,C,7-0,240.0,"March 18, 1997",NaN